<template>
  <v-container class="white black--text elevation-6">
    <v-row class="title align-end white--text" :style="titleStyle">
      <v-col class="title-text">
        <h2>{{ article.title }}</h2>
        <h4>{{ article.author || article.source.name }}</h4>
        <h5>{{ article.publishedAt | isoFormatter }}</h5>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <p>
          {{ article.content }}
        </p>
        <p>
          For full details, read the full article at
          <a target="_blank" :href="article.url">{{ article.source.name }}</a>.
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import DateFormatter from '@/components/filters/date';
import ScreenMixin from '@/components/mixins/screen';

export default {
  name: 'headline-details',
  mixins: [ScreenMixin],
  data() {
    return {
      article: {
        author: null,
        content: null,
        description: null,
        publishedAt: null,
        source: {
          id: null,
          name: null,
        },
        title: null,
        url: null,
        urlToImage: null,
      },
    };
  },
  created() {
    const { id } = this.$route.params;
    this.retrieveArticle(id);
  },
  beforeRouteUpdate(to, from, next) {
    this.retrieveArticle(to.params.id);
    next();
  },
  computed: {
    titleStyle() {
      const style = {};
      if (this.article.urlToImage) {
        style['background-image'] = `url(${this.article.urlToImage}`;
      }
      return style;
    },
  },
  methods: {
    retrieveArticle(id) {
      const article = this.$store.state.headlines[id];

      if (article) {
        Object.assign(this.article, article);
        this.$store.commit('addVisited', id);
      } else {
        this.$router.replace('/error-404');
      }

      this.$app.toggleDrawerFlag(false);
    },
  },
  filters: {
    ...DateFormatter,
  },
};

</script>

<style scoped lang="stylus">

@import '~@/themes/variables.styl'

.title
  background-color $secondary-color
  background-position center center
  background-repeat no-repeat
  background-size cover
  min-height 200px
  max-height 400px

.title-text
  background rgba(0, 0, 0, 0.2)

</style>
