<template>
  <v-container>
    <v-row v-if="alerts.length > 0">
      <v-col>
        <v-alert
          v-for="(alert, idx) of alerts"
          :key="'alert-'+idx"
          :type="alert.type"
          dismissible
          transition="fade-transition"
        >
          {{ alert.message }}
        </v-alert>
      </v-col>
    </v-row>
    <v-row class="justify-end align-center">
      <v-col cols="auto">
        <v-tooltip bottom v-if="sourcesFilter.length > 0">
          <template v-slot:activator="{ on }">
            <span v-on="on">Showing headlines from {{ sourcesFilter.length }} sources</span>
          </template>
          <div v-for="source of sourcesFilter" :key="source.id">
            <span>{{ source.name }}</span>
          </div>
        </v-tooltip>
        <span v-else>Showing headlines from all sources</span>
      </v-col>
      <v-col cols="auto">
        <v-btn
          @click="clearSourcesFilter"
          class="mr-4"
          v-if="sourcesFilter.length !== 0">
          Clear
        </v-btn>
        <v-btn @click="showSourcesFilter">Filter</v-btn>
      </v-col>
    </v-row>
    <p-headline-list
      v-model="headlines"
    >
    </p-headline-list>
    <v-row>
      <v-col>
        <a v-if="moreArticlesAvailable" @click="fetchMore">Load more</a>
      </v-col>
    </v-row>
    <p-sources-dialog
      v-if="showSourcesDialog"
      :dialog="showSourcesDialog"
      :sources="availableSources"
      @input="filterBySource"
      @close="showSourcesDialog = false"
      v-model="sourcesFilter"
    >
    </p-sources-dialog>
  </v-container>
</template>

<script>

import ScreenMixin from '@/components/mixins/screen';
import PHeadlineList from '@/components/PHeadlineList.vue';
import PSourcesDialog from '@/components/PSourcesDialog.vue';
import NewsService from '@/services/NewsService';
import { DEFAULT_QUERY_SIZE } from '@/constants';

export default {
  name: 'headlines',
  mixins: [ScreenMixin],
  components: {
    PHeadlineList,
    PSourcesDialog,
  },
  data() {
    return {
      currPage: 1,
      headlines: [],
      showSourcesDialog: false,
      availableSources: [],
      sourcesFilter: [],
      moreArticlesAvailable: false,
    };
  },
  created() {
    this.fetchHeadlines();
  },
  methods: {
    reset() {
      this.currPage = 1;
      this.moreArticlesAvailable = false;
      this.headlines.splice(0);
    },
    fetchMore() {
      this.currPage += 1;
      this.fetchHeadlines();
    },
    filterBySource() {
      this.reset();
      this.fetchHeadlines();
    },
    fetchHeadlines() {
      const paramMap = {
        page: this.currPage,
        pageSize: DEFAULT_QUERY_SIZE,
      };

      paramMap.sources = this.sourcesFilter.map(source => source.id).join(',');

      if (this.sourcesFilter.length !== 0) {
        paramMap.country = null;
      }

      this.__doAction(NewsService.getTopHeadlines, paramMap).then((resp) => {
        if (resp.success) {
          resp.data.articles.forEach((article) => {
            this.$store.dispatch('addHeadline', article)
              .then((key) => {
                this.headlines.push({ ...article, key });
                this.moreArticlesAvailable = resp.data.totalResults > this.headlines.length;
              });
          });
        }
      });
    },
    clearSourcesFilter() {
      this.sourcesFilter.splice(0);
      this.filterBySource();
    },
    showSourcesFilter() {
      this.__doAction(NewsService.getSources)
        .then((resp) => {
          if (resp.success) {
            this.availableSources.splice(0);
            resp.data.sources.forEach(source => this.availableSources.push(source));
            this.showSourcesDialog = true;
          }
        });
    },
  },
};

</script>
