<template>
  <div>
    <v-row
      class="headline ma-4 black--text elevation-6"
      v-for="(article, idx) of value"
      :key="'headline-'+idx"
    >
      <v-col cols="auto">
        <div class="headline-image" :style="getCustomItemStyle(article)">
        </div>
      </v-col>
      <v-col class="row">
        <v-row>
          <v-col :cols="12">
            <p>
              {{ article.title }}
            </p>
            <p class="article-description">
              {{ article.description }}
            </p>
          </v-col>
          <v-col :cols="12">
            <p-headline-action-bar
              @edit="editArticle(article)"
              @redirect="redirectToArticle(article)"
            ></p-headline-action-bar>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row v-if="value.length === 0">
      <v-col>No headlines available.</v-col>
    </v-row>
    <v-dialog
      max-width="500px"
      v-model="showEditDialog"
    >
      <v-card>
        <v-card-title>Edit Article</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px">
          <v-text-field
            v-model="editDialogModel.title"
            :rules="rules"
            label="Title"
            required
          ></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="proceedEdit">Edit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

import PHeadlineActionBar from '@/components/PHeadlineActionBar.vue';

export default {
  name: 'p-headline-list',
  components: {
    PHeadlineActionBar,
  },
  props: {
    value: {
      required: true,
      type: Array,
      /*
       * I do not agree with this arrow-body-style lint rule.
       * This is relatively less readable to me.
       * This is just to perform a sanity check that objects passed are expected.
       */
      validator: arr => arr.every(item => Object.prototype.hasOwnProperty.call(item, 'title')
          && Object.prototype.hasOwnProperty.call(item, 'urlToImage')
          && Object.prototype.hasOwnProperty.call(item, 'description')),
    },
  },
  data() {
    return {
      editDialogModel: {
        title: '',
      },
      showEditDialog: false,
      rules: [
        v => v.length <= 400 || 'Title must not exceed 400 characters',
      ],
    };
  },
  methods: {
    getCustomItemStyle(article) {
      const style = {};
      if (article.urlToImage) {
        style['background-image'] = `url(${article.urlToImage}`;
      }
      return style;
    },
    redirectToArticle(article) {
      this.$router.push({
        name: 'Headline',
        params: {
          id: article.key,
        },
      });
    },
    editArticle(article) {
      this.showEditDialog = true;
      this.editDialogModel = article;
    },
    proceedEdit() {
      this.showEditDialog = false;
    },
  },
};

</script>

<style scoped lang="stylus">

@import "~@/themes/variables"

.headline
  background white

.headline-image
  background-color $secondary-color
  background-position center center
  background-repeat no-repeat
  background-size cover
  height 200px
  width 200px

.article-description
  font-size 14px;

</style>
