<template functional>
  <v-row class="justify-end pa-0">
    <v-col cols="auto pa-0">
      <a class="action-link mr-4" @click="listeners['edit']()">Edit</a>
      <a class="action-link mr-6" @click="listeners['redirect']()">Read</a>
    </v-col>
  </v-row>
</template>

<style scoped lang="stylus">

.action-link
  font-size 16px

</style>
