<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" scrollable max-width="50vw">
      <v-card>
        <v-card-title>Select Sources</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 80vh;">
          <v-checkbox
            v-for="source of sources"
            :key="source.id"
            v-model="model"
            :value="source.id"
            :label="source.name"
          ></v-checkbox>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="filter">Filter</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>

export default {
  name: 'p-sources-dialog',
  props: {
    sources: {
      required: true,
      type: Array,
      validator: arr => arr.every(item => Object.prototype.hasOwnProperty.call(item, 'id')
          && Object.prototype.hasOwnProperty.call(item, 'name')),
    },
    dialog: {
      required: true,
      type: Boolean,
    },
    value: {
      required: true,
      type: Array,
      validator: arr => arr.every(item => Object.prototype.hasOwnProperty.call(item, 'id')
          && Object.prototype.hasOwnProperty.call(item, 'name')),
    },
  },
  created() {
    this.model = this.value.map(src => src.id);
  },
  data() {
    return {
      model: [],
    };
  },
  computed: {
    sourceMap() {
      const src = {};
      this.sources.forEach((source) => {
        src[source.id] = source;
      });
      return src;
    },
  },
  methods: {
    cancel() {
      this.$emit('close');
    },
    filter() {
      const finalArray = this.model.map(id => this.sourceMap[id]);

      this.$emit('input', finalArray);
      this.$emit('close');
    },
  },
};

</script>
