<template>
  <v-list dense>
    <v-list-item>
      <v-list-item-action class="mr-4">
        <v-icon>mdi-history</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Visited Headlines</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item
      v-for="(article) of visited"
      :key="article.key"
      :to="getVisitedUrl(article.key)"
      class="white--text"
    >
      <v-list-item-content>
        <v-list-item-title>{{ article.title }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>

export default {
  name: 'p-visited-list',
  computed: {
    visited() {
      return this.$store.state.visited
        .map((key) => {
          const article = this.$store.state.headlines[key];
          return {
            key,
            title: article.title,
          };
        });
    },
  },
  methods: {
    getVisitedUrl(key) {
      return {
        name: 'Headline',
        params: {
          id: key,
        },
      };
    },
  },
};

</script>
