<template>
  <v-app id="inspire">

    <v-app-bar
      app
      clipped-left
    >
      <v-row class="align-center">
        <v-col cols="auto">
          <v-toolbar-title @click.stop="navigateToHomepage">
            <v-row class="align-center banner">
              <v-col xs="auto" sm="auto" md="auto" lg="auto">
                <v-img src="@/assets/logo.png" max-height="30px" max-width="30px"></v-img>
              </v-col>
              <v-col>News Application</v-col>
            </v-row>
          </v-toolbar-title>
        </v-col>
        <v-spacer></v-spacer>
        <v-col :cols="5" v-if="$vuetify.breakpoint.mdAndUp">
          <v-autocomplete
            clearable
            @change="clearSearchItems"
            v-model="searchQuery"
            :loading="searchLoading"
            :items="searchItems"
            :search-input.sync="searchHeadline"
            class="mx-4"
            flat
            no-filter
            hide-no-data
            hide-details
            solo-inverted
          ></v-autocomplete>
        </v-col>
        <v-col cols="auto">
          <v-app-bar-nav-icon @click.stop="toggleDrawerFlag()" />
        </v-col>
      </v-row>

      <v-autocomplete
        slot="extension"
        v-if="$vuetify.breakpoint.smAndDown"
        clearable
        @change="clearSearchItems"
        v-model="searchQuery"
        :loading="searchLoading"
        :items="searchItems"
        :search-input.sync="searchHeadline"
        class="mx-4"
        flat
        no-filter
        hide-no-data
        hide-details
        solo-inverted
      ></v-autocomplete>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      app
      right
    >
      <v-row class="flex-column align-stretch justify-space-between fill-height">
        <v-col>
          <p-visited-list></p-visited-list>
        </v-col>
        <v-col cols="auto pb-0">
          <v-footer>
            <span class="pl-2">Powered by <a target="_blank" href="https://newsapi.org/">newsapi.org</a></span>
          </v-footer>
        </v-col>
      </v-row>
    </v-navigation-drawer>

    <v-content>
      <v-container class="main-content">
        <v-row>
          <v-col>
            <router-view></router-view>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-dialog v-model="loading" fullscreen transition="fade-transition">
      <v-container fluid fill-height class="loading-overlay">
        <v-layout justify-center align-center>
          <v-progress-circular
            :size="100"
            width="7"
            indeterminate
            color="primary">
          </v-progress-circular>
        </v-layout>
      </v-container>
    </v-dialog>

  </v-app>
</template>

<script>

import debounce from 'lodash/debounce';
import { DEBUG_ENABLED } from '@/constants';
import NewsService from '@/services/NewsService';
import PVisitedList from '@/components/PVisitedList.vue';

export default {
  name: 'App',

  components: {
    PVisitedList,
  },

  provide() {
    const $app = {
      debugEnabled: DEBUG_ENABLED,
      toggleLoadingFlag: this.toggleLoadingFlag,
      toggleDrawerFlag: this.toggleDrawerFlag,
    };

    return { $app };
  },

  data() {
    return {
      drawer: false,
      loading: false,
      searchLoading: false,
      searchQuery: '',
      searchHeadline: '',
      searchItems: [],
    };
  },

  created() {
    this.$vuetify.theme.dark = true;
  },

  methods: {
    clearSearchItems() {
      this.searchItems.splice(0);
      this.searchHeadline = '';
    },
    toggleLoadingFlag(flag) {
      if (flag === undefined) {
        this.loading = !this.loading;
      } else {
        this.loading = flag;
      }
    },
    toggleDrawerFlag(flag) {
      if (flag === undefined) {
        this.drawer = !this.drawer;
      } else {
        this.drawer = flag;
      }
    },
    navigateToHomepage() {
      if (this.$route.name !== 'Headlines') {
        this.$router.push('/headlines');
      }
    },
    fetchHeadlines: debounce(function (text) {
      this.searchLoading = true;
      NewsService.searchHeadlines(text)
        .then((resp) => {
          if (resp.status === 200) {
            this.searchItems.splice(0);
            resp.data.articles.forEach((article) => {
              this.$store.dispatch('addHeadline', article)
                .then((key) => {
                  this.searchItems.push({
                    text: article.title,
                    value: key,
                  });
                });
            });
          }

          this.searchLoading = false;
        });
    }, 500),
  },

  watch: {
    searchHeadline(text) {
      if (text && text !== this.searchInput) {
        this.fetchHeadlines(text);
      }
    },
    searchQuery(key) {
      if (key) {
        this.$router.push({
          name: 'Headline',
          params: { id: key },
        });
      }
    },
  },
};
</script>
